.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#81B622, #ECF87F);

}
.inner-container {
    height: 60vh;
    width: 40%;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    padding: 5% 10%;

}

h4 {
    color: rgba(0,0,0,0.8);
}

input {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 64px;
    border-radius: 12px;
    width: 100%;
}

.login-btn {
    padding: 1em 2em;
}
.login-label {
    align-self: flex-start;
    margin-top: 1em;
    font-weight: 700;
    font-size: 18px;   
}